PORT=8787
DB_PATH=rrequest.db
JWT_SECRET=change-me-long-random
TOKEN_ENC_KEY=change-me-another-long-random
GOOGLE_CLIENT_ID=your-google-oauth-client-id
GOOGLE_CLIENT_SECRET=your-google-oauth-client-secret
GOOGLE_REDIRECT_URI=https://ol93ijtyib.execute-api.eu-west-1.amazonaws.com/auth/callback
